<div class="container" *ngIf="check">
  <div class="row" mat-dialog-content>
    <div class="col-12">
      <img src="assets/Check.png" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-12" style="text-align: center;">Post Created</div>
  </div>
  <div mat-dialog-actions>
    <div class="col-12" style="text-align: end;">
        
      <button mat-raised-button color="primary" mat-dialog-close>OK</button>
    </div>
  </div>
  <br>
</div>

<div class="container" *ngIf="!check">
    <div class="row" mat-dialog-content>
      <div class="col-12">
        <img src="assets/Cross.png" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="text-align: center;">Uppss Try Later</div>
    </div>
    <div  mat-dialog-actions>
        <div class="col-12" style="text-align: end;">
        <button mat-raised-button color="primary" mat-dialog-close>OK</button>
        </div>
    </div>
    <br>
  </div>